<table align="center" cellpadding="0" cellspacing="0" width="770" style="background:url('https://resize.yandex.net/mailservice?url=https%3A%2F%2Fyastatic.net%2Fpassport%2F_%2FVuEUwcSoZovM7QELisjTHCYkENk.png&amp;proxy=yes&amp;key=d1b2c9c5f183ee4aa0bcf602e96e8660') #f8f8f8;color:#000000;font-family:'arial' , sans-serif;font-size:14px"><tbody><tr><td style="padding:60px 70px 60px 70px">
                <table align="center" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;border:1px solid #e6e6e6;padding:25px 0 50px 30px"><tbody><tr><td style="padding:0 30px 30px 30px">
                            <p style="color:#000000;font-family:'arial' , sans-serif;font-size:19px;margin-bottom:0;margin-top:14px">
                                {{subject}}
                            </p>

    <p style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:0;margin-top:30px">

        {{text}}

    </p>

                            <p style="color:#000000;font-family:'arial' , sans-serif;font-size:15px;font-style:italic;margin-bottom:0;margin-top:30px">

                            С уважением <br> {{name}}

                            </p>
                        </td></tr></tbody></table>
                <table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td style="background-image:url('https://resize.yandex.net/mailservice?url=https%3A%2F%2Fyastatic.net%2Fpassport%2F_%2FGiCv5zMnyvmSWSkhAJff47-h7pk.png&amp;proxy=yes&amp;key=eaf1aab5e234f3357df887c65279d40e');padding-top:12px"></td></tr><tr><td style="color:#888888;font-family:'arial' , sans-serif;font-size:12px;padding-left:30px;padding-right:30px">

                        </td></tr></tbody></table>
            </td></tr></tbody></table>